<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/HP/Desktop/Sathya Natwet Projects/NatWestCaseStudy"><classes><class name="Exercise1.Test_1_Validate_Headers"><methods><include name="VerifyContentTypeIsApplicationJSON"/><include name="VerifyContentTypeIsPresent"/><include name="TestToDisplayHeaders"/></methods></class><class name="Exercise1.Test_2_Verify_Attributes"><methods><include name="GetCountOfStarWarsCharacters"/><include name="ValidateSpecificStarWarsCharacterNames"/><include name="DisplayAllStarWarsCharacterNames"/></methods></class><class name="Exercise1.Test_3_Verify_API_Responses"><methods><include name="testResponseCode200"/><include name="testResponseCode404"/><include name="testResponseCode400"/></methods></class></classes></test></suite>